services:
  app:
    container_name: p3-api-container
    image: p3-api
    restart: always
    build: .
    volumes:
      - "/P3Backend/LOGS:/P3Backend/LOGS"
      - "/P3Backend/routes:/P3Backend/routes"
      - "/P3Backend/config:/P3Backend/config"
      - "/P3Backend/controllers:/P3Backend/controllers"
      - "/P3Backend/models:/P3Backend/models"
      - "/P3Backend/validators:/P3Backend/validators"
      - "/P3Backend/app.js:/P3Backend/app.js"
      - "/etc/localtime:/etc/localtime:ro"

    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    container_name: p3-db-container
    image: mongo
    restart: always
    volumes:
      - ../db:/data/db
    ports:
      - "27027:27017"